.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;

  @include media($large-screen) {
    flex-direction: row;
  }
}

.card {
  $base-border-color: white !default;
  $base-card-border-radius: 3px !default;
  $base-background-color: black !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid lighten($base-background-color, 10%);
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: $light-black;

  background-color: $card-background;
  border: $card-border;
  border-radius: $base-card-border-radius;
  //box-shadow: 0 10px 14px darken($base-background-color, 10%);
  box-shadow: 0 10px 18px rgba(#000, .2);
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  transition: all 0.2s ease-in-out;

  margin: 0 auto $base-spacing auto;

  // need it for extra small screens
  @media screen and (max-width:320px) {
  max-width: 250px;
  }

  .card-image {
    background-color: $card-image-hover-color;
    height:190px;
    max-height: 240px;
    overflow: hidden;

    @media screen and (max-width:320px) {
      height:160px;
    }

    @include MQ($S) {
      height:240px;
    }
    
    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;

      @include media($large-screen) {
        height:240px;
      }
    }
  }

  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: ($base-spacing / 2);
    transition: all 0.2s ease-in-out;
    letter-spacing: 0.1em;
  }

  .card-subheader {
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: 300;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    //transition: all 0.2s ease-in-out;
  }

  .card-copy {
    //font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }

  // featured card 
  &.blue-card {
    //border:0;

    $side-image-background-top: #247999;
    $side-image-background-bottom: #21708F;
    $side-image-content-background: #79888F;

    color:#fff;
    margin: 35px 0 1.5em 0;
    min-height: 570px;
    height:570px;
    border:0;
    border-bottom: 1px solid $side-image-background-top;

    
    .card-image{
        @include media($small-screen) {
           height: 190px;
        }
         @include media($medium-screen) {
           height: 240px;
        }
     }

    .card-header, .card-subheader {
      background-color: transparent;
      color:$light-blue;
      margin-left:$gutter;
      margin-right:$gutter;
      border-bottom:1px solid #4A8EA9;
      //border-bottom: 0;
    }

    .card-subheader {
      font-size: 1em;
      color:#86C2D9;
    }

    .card-copy {
      padding:$gutter;
    }
    
    background: linear-gradient($side-image-background-top, $side-image-background-bottom),
    no-repeat $side-image-background-top scroll;
    background-color: $side-image-background-top;

    &.shelfend {
      margin-top:0;
      height:650px;
      
      .card-header, .card-subheader  {
        line-height: 1.9em;
        padding: ($base-spacing / 1.7);
      }

      .card-image{
        max-height: 240px;
       
        
        @include media($small-screen) {
           height: 190px;
        }
        
          @include media($large-screen) {
            max-height: 275px;
            height:275px;
            img {
              height:275px;
            }
          }
      }
    }

  }
}