.centered-navigation {
  $base-border-radius: 3px !default;
  $link-color: #fff !default;
  $large-screen: 53.75em !default;
  $base-font-color: $link-color !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 6em;
  $centered-navigation-background: rgba(5, 13, 40, 0.9);
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $orange;
  $centered-navigation-height: 70px;
  $centered-navigation-item-padding: 0.7em;
  $centered-navigation-submenu-padding: 0.7em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  //box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: $centered-navigation-background;

  &.alpha {
    background-color: transparent;
    //box-shadow: none;
    box-shadow: inset 0 90px 150px -90px rgba(0, 0, 0, 0.9);
  }

  //border-bottom: 1px solid darken($centered-navigation-background, 6%);
  border-bottom:0;
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;

  @include media($horizontal-bar-mode) {
    min-height: $centered-navigation-height + 20;
  }

  // Mobile view
  .mobile-logo {
    display: inline-block;
    float: none;
    max-height: $centered-navigation-height;
    //padding-left: $centered-navigation-padding;

    // center
    margin: 10px auto 0 auto; 

    img {
      max-height: $centered-navigation-height;
      opacity: 1;
      padding: 0.1em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-mobile-menu {

    position: absolute;
    top: 22px;
    left: 20px;

    //margin: 0;
    //float: right;

    color: $orange;
    font-weight: 600;
    font-size: 1.4em;
    letter-spacing: 1px;
    display: block;
    
    line-height: ($centered-navigation-height - 20);

    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

// Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
    text-align:center;
  }

  ul.centered-navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    -webkit-transform-style: preserve-3d; 
// stop webkit flicker
    width: 100%;
    z-index: 99999;

    background-color:$black;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
      background-color: transparent;
      border-bottom:0;
    }
  }

// The nav items

  .menu-item:first-child {
    @include media($horizontal-bar-mode) {
      //margin-left: $centered-navigation-item-nudge;
      margin-left:0;
      a {
        padding-left: 0;
      }
    }
  }

  ul > li.menu-item {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding: 0 $centered-navigation-submenu-padding;
    text-align: center;
    width: 100%;
    z-index: 9999;

    &:first-child {
      border-right:1px solid #fff;
    }
    &:last-child {
      border-left:1px solid #fff;
    }

    &.border-left {
      border-left:1px solid #fff;
    }

    // on mobile view
    border-bottom:1px solid darken($centered-navigation-background, 3%);

    // li hover
    &:focus,
    &:hover {
        background-color: darken($centered-navigation-background, 5%);
    }

    a {
      color:#fff;
      @include media($horizontal-bar-mode) {
        //color: $centered-navigation-color;
      }
      display: inline-block;
      outline: none;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 200;

      &:focus,
      &:hover {
        color: $centered-navigation-color-hover;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;

      line-height: $centered-navigation-height + 20;

      border-bottom: 0;

      // li hover
      &:focus,
      &:hover {
          //background-color: $centered-navigation-background;
          background-color: transparent;
      }

      a {
        padding: 0.1em $centered-navigation-item-padding;
      }
    }
    &.logo {
      display: none;
      line-height: 0;

      a {
        padding: 10px 0 0 0;
      }

      @include media($horizontal-bar-mode) {
        display: inline;
        line-height: auto;
        padding: 0;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($horizontal-bar-mode) {
      display: inline;
    }
  }

.logo img {
    margin-bottom: -$centered-navigation-logo-height / 2;
    max-height: $centered-navigation-logo-height;
    opacity: 1; // 0.6
}

  
// Sub menus

  li.more.menu-item {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    .sub-menu {
      li.menu-item:first-child {
      margin-left: 0;
      }
    }
    

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a::after {
      @include position(absolute, auto -0.4em auto auto);
      color: $centered-navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:focus > .sub-menu,
    &:hover > .sub-menu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.sub-menu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    /*
    .sub-menu.fly-out-right {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }
    */

    .sub-menu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    .sub-menu.fly-out-left {
      @include media($horizontal-bar-mode) {
        left: -$centered-navigation-submenu-width + 0.2em;
        top: 0;
      }
    }

    li{
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3%);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }

    }
  }
}