@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  $base-background-color: white !default;
  $medium-gray: #6B717B !default;
  $light-gray: #DDD !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $base-font-color: $medium-gray !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  //$grid-item-border: 1px solid transparentize($base-font-color, 0.8);
  $grid-item-border: 0;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 18em;

  @include clearfix;
  position: relative;

  .grid-item {
    background: transparent;
    border-bottom: 0;
    border-right: 0;
    cursor: pointer;
    float: left;
    height: ($grid-item-height / 1.3);
    outline: none;
    overflow: hidden;
    padding: 1em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%;

    height: auto;
    @include MQ(S) {
      height: $grid-item-height;
    }
    
    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }


    &.two {
       @include media($large-screen) {
        @include grid-item-columns(6);
      }
    }

    &:focus,
    &:hover {
      background: transparentize($grid-item-color, 0.95);
    }

    .grid-item-content {
        background: $grid-item-background;
        padding: 2em 1em;
        border-radius: $base-border-radius * 3;
        box-shadow: 0 8px 14px rgba(#000, .3);
      }
  }


  .grid-item img {
      display: inline-block;
      height: 2.5em;
      margin-bottom: 1.2em;
      opacity: 1;
      //opacity: 0.2;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.5em;
      font-weight: 300;
      margin-bottom: 0.4em;
    }

  .grid-item p {
      //padding: $gutter 0;
      color:$medium-gray;
      font-weight: 300;
      //color: transparentize($grid-item-color, 0.4);
      line-height: 1.5em;

      @include media($medium-screen) {
        //max-width: 70%;
      }
    }


  .grid-item {
    &.tem {
      text-align: left;

      img.avatar {
         float: left;
         margin-right:$gutter / 2;
      }
      h1 {
        margin-bottom: 0;
      }
      small {
        margin-bottom:0.6em;
      }
      p {
        clear:left;
      }
    }
  }



  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        //max-width: 60%;
      }
    }
  }

}