$parallax-window-height: 50em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  min-height: $parallax-window-height / 5;

  @include media($medium-screen) {
    //max-height: $parallax-window-height * 2;
    min-height: $parallax-window-height / 1.9;
  }

  @include media($large-screen) {
    //max-height: $parallax-window-height * 2;
    min-height: $parallax-window-height / 1.1;
  }
  
  @include media($maxL) {
  // max-height: $parallax-window-height * 2.2;
  //min-height: $parallax-window-height * 1.1;
  min-height: $parallax-window-height * 1.55;
  }

 
  /* Force Hardware Acceleration in WebKit */
      transform:translateZ(0);
      transform: translateX(0);
      backface-visibility: hidden;
      
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {

  position: relative;
  z-index: 9;
  color: #9A9A8A;
  padding: 8em 0 1em 0;
}

.parallax-background {
  // set in _pages.scss
  //background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png") repeat;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: $turquoise;
  height: $parallax-background-height;
  
  left: 0;
  position: absolute;
  //top: - $parallax-window-height / 3;
  top:0px;
  width: 100%;

  /* Force Hardware Acceleration in WebKit */
      transform:translateZ(0);
      transform: translateX(0);
      backface-visibility: hidden;
  
  //background-attachment: fixed; 
}
// Based on http://codepen.io/skeurentjes/