#{$all-buttons}, .btn, .woocommerce a.button, .woocommerce button.alt {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {  
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }

  &.large {
    text-transform: uppercase;
    padding: 0;
    /* font-weight: 600; */
    width: 210px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
  }

  &.rounded {
    border-radius: $base-border-radius * 12;
    box-shadow: 0 10px 18px rgba(#000, .2);
  }

  &.transparent {
    border: 1px solid #fff;
    background-color: transparent;
  }

  &.turquoise, &.alt {
    background-color: $turquoise;
    &:hover,
    &:focus {
      background-color: shade($turquoise, 20%);
      color: #fff;
    }
  }

  &.orange {
    background-color: $orange;
    &:hover,
    &:focus {
      background-color: shade($orange, 20%);
      color: #fff;
    }
  }

}

