
/** 
* Stampbor font (clean)
*/
@font-face {
  font-family: 'stampbor-clean';
  src: url('fonts/stampbor/stampbor-clean.eot');
  src: local('☺'), url('fonts/stampbor/stampbor-clean.woff') format('woff'), url('fonts/stampbor/stampbor-clean.ttf') format('truetype'), url('fonts/stampbor/stampbor-clean.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
 * San Francisco (apple) Font
 * http://applemusic.tumblr.com/
 * https://github.com/AppleDesignResources/SanFranciscoFont
 */

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("fonts/sanfrancisco/sanfranciscodisplay-ultralight.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("../fonts/sanfrancisco/sanfranciscodisplay-thin.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 300;
  src: url("../fonts/sanfrancisco/sanfranciscodisplay-light.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("../fonts/sanfrancisco/sanfranciscodisplay-regular.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("../fonts/sanfrancisco/sanfranciscodisplay-medium.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("../fonts/sanfrancisco/sanfranciscodisplay-semibold.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("../fonts/sanfrancisco/sanfranciscodisplay-bold.woff");
}

/*
* {
    font-family: "San Francisco"
}

h1 { font-weight: 700; }
h2 { font-weight: 600; }
h3 { font-weight: 500; }
p { font-weight: 400; }
p.thin { font-weight: 200; }
p.ultralight { font-weight: 100; }
*/

