// global styles
body {
	padding:0;
	margin:0;
	@include font-smoothing();
	.main {
		padding:$gutter;
	}
	&.home {
		.main {
			padding:0;
		}
	}

}
body#tinymce {
	min-height: 400px !important;
	height: auto !important;
	padding:0;
    background:#fff;
}



