/**
*  Our mixins
*/

@mixin font-smoothing {
  font-smoothing: antialiased;
  font-smoothing: grayscale;
}

// media queries
@mixin MQ($canvas) {
 @if $canvas == minS {
   @media only screen and (min-width: $minS) { @content; } 
 }
 @else if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) and (max-width : maxL - 1) { @content; } 
  }
  @else if $canvas == maxL {
   @media only screen and (min-width: $maxL) { @content; } 
  }
}

@mixin card-box($color) {
  padding: $gutter;
  background-color: $color;
  background: $color;
  //box-shadow: 0 2px 3px rgba(0, 0, 0, 0.09);
  border: 1px solid $color;
  /*
  border: 1px solid #efefef;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  */
}