/* 	https://github.com/roots/sage/blob/master/README.md
* 	https://github.com/roots/docs/blob/sage-9/sage/theme-development-and-building.md
*/

//$ionicons-font-path: "~ionicons/dist/fonts" !default;

// Fonts (see: _fonts.scss)
$main-font: "San Francisco","Open Sans",arial; // font-face
$font-two: 'stampbor-clean'; //font-face
$font-three: 'Dosis', sans-serif; // google font

// Colors

$black: #1B1C1B;
$light-black: #222;
$mauve-blue: #7E889C;
$mauve: #545C80;
$turquoise: #18C1C8;
$emerald: #48CFAD;
$green-black:#0D3C41;
$green:#51bb7b;
$green-blue: #247999;
$light-blue: #F4F7FD;
$sky-blue: #47a0ff;
$orange: #F38A6A;
$yellow: #F8E81C;
$extralight: #f6f6f6;
$beige: #F3F0E9;
$white: #FFFFFF;

$brand-primary: $turquoise;

// good color palette would be this one
// https://dribbble.com/shots/2603004-Camera-for-Pixty

$night-blue: #323B4A; // rgb: 50, 59, 74
$night-navyblue: #2c3553; // rgb: 26 23 52


// Responsive breakpoints - codyhouse
$minS:  1px;
$S:     480px;   
$M:     768px;     
$L:     1170px;
$maxL:  1470px;