// wraps and rows
// Base structure
.container {
  @include outer-container;
  .main,
  .sidebar {
    // @todo: Do I need this?
    @include row;
  }
}

.container-fluid {
  @include outer-container(100%);
}

@include media($medium-screen-up) {
  .main {
    @include span-columns($grid-columns);
    .sidebar-primary & {
      @include span-columns($grid-columns - $sidebar-columns)
    }
  }
  .sidebar {
    @include span-columns($sidebar-columns);
  }
}


header.banner,
//main.main,
footer.content-info {
	 @include row;
	.container {
		@include outer-container; // neat
	}
}
#featured {
	.cards {
		@include outer-container;
	}
}

#reinsurance {
	@include outer-container();
}

 #testimonial {
 	.grid-items-lines {
 		@include outer-container();
 	}
 }

.page-template-template-front-blade {
	.page-content {
		@include outer-container();
	}
}

// woocommerce product
.main {
	.product {
		@include outer-container();
	}
}
