footer.content-info {
	//background-color: #191919;
	background-color: darken($night-navyblue,5%);
	section {
		text-align: left;
		padding-top: 40px;
		h3 {
			color:#fff;
		}
		a {
			color:$beige;
		}
		&.widget {
			float: left;
			text-align: center;
			h3 {
				text-align: center;
			}
			@include omega();
				&.widget_text {
					@include span-columns(12);
					position: relative;
					min-height: 260px;
					
					span.copyright-footer {
						position: relative;
						color: darken($mauve-blue, 15%);
						text-align: center;
						padding-top:40px;
					}
				}

				&.widget_pages, &.widget_products, &.widget_nav_menu {
					@include span-columns(12);
					a {
						line-height: 2em;
						font-weight: 300;
						color: $mauve-blue;						
						&:hover {
							color: darken($mauve-blue, 20%);
						}
					}
				}

			@include MQ(M) {
				text-align: left;
				h3 {
					text-align: left;
				}

				span.copyright-footer {
					position: absolute;
					left: 0;
					bottom: 0;
					text-align: center;
					padding-top: auto;
				}

				&.widget_text {
					@include span-columns(4);
					@include omega();
				}
				&.widget_pages, &.widget_products, &.widget_nav_menu {
					@include span-columns(2.5);
					@include omega();
				}
			}

			@include MQ(L) {
				&.widget_text {
					@include span-columns(6);
					@include omega();
				}
				&.widget_pages, &.widget_products, &.widget_nav_menu {
					@include span-columns(2);
					@include omega();
				}
			}
		}

		&.widget_products {
			img, .price-discount-info {
				display: none;
				visibility: hidden;
			}
			.amount {
				display: none;
				visibility: hidden;
				color:$mauve;
			}
		}
	}
}