.page-header {
	padding:$gutter 0;
	h1 {
		font-size: 1.7em;
		@include media($large-screen) {
			font-size: 3em;
		}
		font-family: 'stampbor-clean';
		letter-spacing: 1px;
		font-weight: 500;
		color:$turquoise;
		text-align: center;
	}
}