main.main {
	//@include outer-container;
}
section {
	padding:$gutter;

	p.subtitle {
		padding-bottom:$gutter;
		font-size: 1.3em;
		font-weight: 300;
	}

	h2 {
		font-weight: 200;
		@include MQ(M) {
			font-size: 36px;
		}
	}
}

.page-cover {
	padding-top:($gutter * 2);
	text-align: center;

	.parallax-background {
  		//background-image: url("../images/background-cover.jpg");
  		background-image: url("../images/bg-photo-noboat.jpg");
  		//box-shadow: inset 40px 100px 300px rgba(0, 0, 0, .5);
  		box-shadow: inset 100vh 100vh 100vh rgba(0, 0, 0, 0.3);
	}

	.parallax-static-content {
			padding-top:3em;
			@include media($medium-screen) {
			padding-top: 8em;
			}
		 	@include media($large-screen) {
    		padding: 12em 0 3em 0;
  		}
  	}

  	&.parallax-window {
  		min-height: auto;

  		@include media($wide-screen) {
  			min-height: 60em;
  		}
  	}



	// fonts
  	h1 {
  		font-family: $font-two, $main-font;
    	letter-spacing: 0;
    	text-transform: uppercase;
    	color:#fff;
    	margin:0;
    	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

    	@include media($large-screen) {
    	//@include MQ(M) {
    		font-size: 71px;
    	}
  	}
  	h2 {
  		color:#eee;
  		margin-top:0;
  		font-family: $font-three;
  		font-weight: 300;
  		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);

  		@include media($large-screen) {
  			font-size: 60px;
  		}
  	}
}

// target front page tpl
.page-template-template-front-blade {
	// refills nav
	.centered-navigation {
		position: absolute;
		top:40px;
		ul > li.menu-item a {
			color:#fff;
		}
	}

	.page-content {

		@extend .grid-items-lines;
		div {
			@extend .grid-item;
			@extend .two;
			@include media($large-screen) {
			h3 {
				font-size: 1.8em;
  				font-weight: 300;
				}
  			}
		}
	}
}

p.cta {
	padding-top:$gutter;
}

#featured {
	h2 {
		color: #fff;
	}
	padding-top:($gutter * 2);
	background-color: $turquoise;
	color:#fff;
	text-align: center;

	p.subtitle {
		a {
		color:$yellow;
		}
	}

	.cards {
		padding-bottom:$gutter * 2;
		padding-top: 0;

		.card {
			@extend .blue-card;

			p.cta {
				padding-top:$gutter / 1.8;
			    a.btn {
			        width:100%;
			    }
			}
		}
	}
}
#partners {
	text-align: center;
	padding-top:60px;
	padding-bottom: 0;
	background-color: $light-black;
	background-image: url("../images/bg-photo-noboat.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: inset 0 500px 500px 5000px rgba(0, 0, 0, 0.7);

	h1 {
		color:$light-blue;
	}
	h2 {
		color: $mauve-blue;
	}
	p {
		color:#777;
	}
}

#reinsurance {
	padding: $gutter;
	text-align: center;
	h1 {
		//color:$green-blue;
		color:$turquoise;
	}
}

#testimonial {
	background-color: $turquoise;
	h2,h3 {
		color: #fff;
		a {
			color: $yellow;
		}
	}
	h3 {
		&.tripadvisor {
			height: 90px;
			text-align: center;

			.center-content {
				margin: 0 auto;
				width:140px;
				@include MQ(M) {
					width:400px;
				}
			}
			img {
				width:auto;
				height: 90px;
			}
			a.mobile-logo {
				display: inline-block;
			}
			.text-right-logo, a.mobile-logo {
				float: left;
				height: 90px;
				margin:0 auto;
				vertical-align: middle;
			}
			.text-right-logo {
				display: none;
				visibility: hidden;
				@include MQ(M) {
					display: inline-block;
					visibility: visible;
				}
			}
		}
	}

	.grid-item {
		height: auto;
		@include MQ(S) {
			height: 20em;
		}
		@include MQ(M) {
			height: 19em;
		}
		@include media($large-screen) {
			height: 25em;
		}

		img.avatar {
			border-radius: 50%;
		}
	}

	&.parallax-window {
		$parallax-window-height: 50em;
  		max-height: none;
  		min-height: $parallax-window-height;
	}

	.parallax-background {
  		background-image: url("../images/bg-testimonial.jpg");
  		background-size: cover;
	}
}

#faq {
	padding-top:$gutter * 2;
	text-align: center;
	p {
		text-align: left;
		a {
			display: inline-block;
		}
	}
	h2 {
		text-align: center;
		color:$green-blue;
	}
	p.cta {
		text-align: center;
		width: 100%;
		a.btn {
			margin: 0 auto;
		}
	}

}


