body.blog {
	div.wrap.container {
		max-width: 780px;
		div.entry-summary {
			text-align: center;
			p {
				text-align: left;
			}
		}
	}
}
h1.entry-title {
	margin-top: $gutter;

	@include media($large-screen) {
		font-size: 2.8em;
	}

	&.product_title {
		font-size: 1.8em;
	}
}
h2.entry-title {
	margin-top: $gutter;
	font-size: 1.8em;
	font-family: 'stampbor-clean';
	@include media($large-screen) {
		font-size: 2.1em;
	}
}


time.updated {
	color:$mauve;
}

.post-type-archive {
	&.post-type-archive-faq {
		h1,h2.entry-title {
			text-align: center;
		}
	}
}

