body.woocommerce-demo-store {
	padding-top:50px;
	.centered-navigation {
		top:50px;
	}
	p.demo_store {
		background-color: $night-navyblue;
	}
}

body.woocommerce {
	h2 {
		color:$mauve-blue;
	}
	main.main {
		padding-top:$gutter * 2;

		table.shop_table th, table.shop_table tfoot td {
			border-top:0;
			border-bottom:0;
		}
	}
	
	div.woocommerce-message {
		border: 0;
		top:2px;
		background-color: $orange;
		color:#fff;
		font-size: 1.2em;

		&:before {
			color:$turquoise;
		}
	}
	.star-rating span {
		color:$yellow;
	}

	.product_meta {
		span.tagged_as {
			  text-indent: 100%;
			  //white-space: nowrap;
			  color:#fff;
			  overflow: hidden;
			  a {
			  	text-indent: 0;
			  	display: inline-block;
			  	margin:5px 0;
			  	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
			  	background-color: $turquoise;
			  	&:hover {
					cursor:default;
			  	}
			  }
		}
	}
}

section.woocommerce-customer-details {
	padding:1.8em 0;
}

.woocommerce {
	form {
		text-align: left;

		// hide 'Information complémentaire' on checkout form
		.woocommerce-shipping-fields:last-of-type h3 {
			display: none;
			visibility: hidden;
		}
		.woocommerce-shipping-fields h3#ship-to-different-address {
			visibility: visible;
			display: block;
			width:100%;
			clear:left;
		}
	}

	.main {
		ul.products li.product, .woocommerce-page ul.products li.product {
			background-color: lighten($mauve-blue, 20%);
			min-height: 420px;
			a {
				width: 100%;
			}
		}

		h1.page-title {
			text-align: center;
			font-size: 1.8em;
			color:$green-blue;
			font-family: 'stampbor-clean';
			@include media($large-screen) {
				font-size: 2.1em;
			}

		}

	}
}

.woocommerce-cart  {
	.woocommerce {
		table.shop_table {
			th, td {
			border-bottom:0;
			}
			tbody:first-child tr:first-child td, 
			tbody:first-child tr:first-child th  {
				border:0;
			}
		}
		
		table.cart {
			@extend .table-minimal;
	 		img {
	 			width:130px;
	 		}
	 		tr.cart_item {
	 			background-color: #efefef;
	 		}
	 	} 
	}
}

body.woocommerce.single-product {
	//background-color: $extralight;
	background-color: lighten($light-black,2%);
	background-repeat: no-repeat;
	background-position: center 60px;
	background-size: cover;

	width:100%;
    height: 200vh;

	box-shadow: inset 100vh 0 100vh rgba(0, 0, 0, .3);

	span.onsale {
		padding: 0;
		background-color: $orange;
		font-size: 1.5em;
		min-height: 4.5em;
		min-width: 4.5em;
		line-height: 4.5em;
	}

	// woocommerce product
	.main {
		div.product {
			//background-color: #FAFAFA;

			#product-cover {
				min-height: 200px;
				vertical-align: middle;
				padding-top:$gutter;
				h1 {
					font-size: 1.8em;
					font-family: 'stampbor-clean';
					color:#fff;
					text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
					text-align: center;
					@include media($medium-screen-up) {
						font-size: 3.2em;
					}
				}
				h2 {
					color:$extralight;
					text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
				}

				a.scroll-to-book {
					float: right;
					@extend .btn;
					font-size: .7em;
				}

				p.short-description {
					color:#fff;
					font-size: 1.200em;
					font-family: 'stampbor-clean';
					letter-spacing: 1px;
					font-weight: 500;
					font-style: normal;
					text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
					border-bottom: 1px dashed white;
				}

				span.readmore {
					display: none;
					visibility: visible;
					height: 0;
				}
			}

			.show_stock_status, p.stock.out-of-stock {
				color:#fff;
				background-color: $orange;
				padding:($gutter / 2);
			}

			.price {
				
				&p {
					margin:0;
				}

				text-align: center;
				padding: 10px 20px;
				background: transparent;
				color:$action-color;
				border-radius: 3px;
				border: 2px solid $action-color;
				font-size: 1.6em;
				font-weight: 700;
				font-style: normal;

				&#bkap_price {
					font-size: 1.300em;
					font-weight: 500;
					//background-color: $turquoise;
					display: block;
				}

				@include media($medium-screen-up) {
					//max-width:300px;
				}
			}

			.ui-datepicker {
				width: 11.5em; // small screen
				min-width: 11.5em;
				max-width: 11.5em; // small screen

				@include media($medium-screen-up) {
					width: 100%;
					min-width: 18.5em;
					max-width: 100%;
				}
			}

			div.ui-datepicker-inline {
				width: 11.5em; // small screen
				max-width: 11.5em; // small screen

				@include media($medium-screen-up) {
					width: 100%;
					max-width: 100%;
				}

				.ui-state-default {
					background: $green-blue;
					background-image: none;
					color:#fff;
				}
				.ui-state-active, .ui-widget-content .ui-state-active, 
				.ui-widget-header .ui-state-active {
					background: $orange;
					background-image: none;
					//color:$black;
				}
			}
			
			div.entry-summary {
				padding: $gutter ($gutter * 2);
				@include card-box(rgba(50, 59, 74, 0.9));
				border-top:4px solid $green-blue;

				p {
					font-size: 1.2em;
					color:#eee;
				}

				h3 {
					color:$turquoise;
					font-size: 1.2em;
					font-family: 'stampbor-clean';
					letter-spacing: 1px;
					font-weight: 500;
					font-style: normal;
					padding-bottom: 15px;
					//text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
					border-bottom: 1px dashed white;
					width: 100%;
				}

				@include media($medium-screen-up) {
					padding:30px 60px;
					//border-top-right-radius: 5px;

					h1.product_title {
						font-size: 1.5em;
						font-weight: 400;
						/*
						display: none;
						visibility: hidden;
						height: 0;
						*/
					}
					h3 {
						font-size: 1.9em;
						margin-top: 20px;
						float: left;
					}
				}

				// booking
				form.cart {

					label{
						color: $beige;
						margin-top:1.6em !important;
						font-weight: 700;
						width: 48%;
						display: inline-block;

						@include media($medium-screen-up) {
							font-size: 1.4em;
						}
					}

					input#booking_calender.booking_calender {
						//border:0;
						box-shadow: none;
						font: 1.7em;
						font-weight: 500;
						border: 1px solid $sky-blue;
						width: 48%;
						display: inline-block;
					}
				}
				//float: right;
			}

			div.images {
				@include media($medium-screen-up) {
					border-top-left-radius: 5px;
				}
				background: rgba(255, 255, 255, 0.8);
				padding: $gutter;
				//margin-right: 0;
				float: left;
				
				a.woocommerce-main-image {
					display: none;
					visibility: hidden;
					height: 0;
				}
			}

			@include media($medium-screen-up) {

				// booking calendar bloc
				div.bkap-booking-form {
					width: 100%;
					padding:0;
					border: 0;

					.bkap_start_date {
						width: 100%;
					}
				}

				div.entry-summary {
					@include span-columns($grid-columns - $sidebar-columns);
					//@include span-columns($grid-columns);
					@include omega();
					float: right;

					// product rating
					.woocommerce-product-rating {
						@include span-columns(8);
						@include omega();
					}
					p.price {
						@include span-columns(4);
					}
					div.product_meta {
						@include row();
						span.tagged_as {
							@include span-columns(12);
						}
					}
				}
				
				div.images {
				@include span-columns($sidebar-columns);
				@include omega();
					//margin-top:60px;
					//margin-left:1.5%;
					//margin-right:0;
					/*
					a.woocommerce-main-image {
						display: block;
						visibility: visible;
						height: auto;
					}
					*/
					div.thumbnails {
						visibility: hidden;
						display: none;
						height: 0;
						opacity: 0;
					}
				}
			}
			// end media query
			
			.woocommerce-tabs {

				ul.tabs {
					padding:0;
					margin:0;
					li {
						border: 1px solid #ddd;
					}
				}
				/*
				ul.tabs {
					padding:0;
					margin:0;
					&:before {
						border:0;
					}
					li {
						border: 1px solid $extralight;
						&:before {
							border:0;
						}
						a {
							color:darken($mauve-blue,2%);
						}
						&.active {
							a {
								color:$green-blue;
							}
						}
					}

				}
				*/
				.panel {
					@include card-box(#fff);
				}
			}


			div.up-sells {
				ul.products {
					padding:0;
					//@extend .cards;
					li.product {
						width: 99%;
						margin:1% 1% 1% 0;
						@include card-box($light-black);
						padding:0;
						text-align: center;

						@include media($medium-screen-up) {
							width: 32%;
						}

						.button {
							font-size: 0.8em;
							width:100%;
							text-align: center;
							border-radius: 0;
							margin-top:0;
							@include media($medium-screen-up) {
								//width:auto;
								//margin-top:1em;
								font-size: 1.2em;
							}
						}

						.price {
							margin:0;
							border-radius: 0;
						}
						//@extend .card;
						//@extend .blue-card;

					}
				}
			}
			
		}
	}
}